# Database
DB_SERVER=localhost
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=gymone

# Business Info
BUSINESS_NAME=YourBusinessName
META_KEY=Keyword1, Keyword2, Keyword3
DESCRIPTION=Short description here...

# Localization
LANG_CODE=HU
CURRENCY=EUR
COUNTRY=Magyarország
CITY=Város
STREET=Utcanév
HOUSE_NUMBER=1
PHONE_NO=+36000000000

# Application
APP_VERSION=V1.1.0

# Mail configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_ENCRYPTION=TLS

# API Keys
GOOGLE_KEY=YourGoogleKeyHere

# Gym Settings
CAPACITY=20
ABOUT=Your gym about text here...
AUTOACCEPT=FALSE
